<html xmlns:th="http://www.thymeleaf.org">
<div class="css-monitor-main-content">

    <ol class="breadcrumb">
        <li><a href="javascript:void(0);">监控系统</a></li>
        <li><a href="javascript:void(0);" class="active">VM统计</a></li>
    </ol>


    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> 主面板</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-sound-dolby"></span> VMs</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-picture"></span> VM数据视图</a></li>
        </ul>
    </nav>

    <div>
        <div id="vm-waiting-content"></div>
        <div id="vm-result"></div>
    </div>


</div>

</html>